aclocal.m4

config.h
config.h.in
config.h.in~

config.log
config.status

config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing

configure
libtool
stamp-h1

Makefile.in
doc/Makefile.in
doc/man/Makefile.in
src/Makefile.in
src/*/Makefile.in

Makefile
doc/Makefile
doc/man/Makefile
src/Makefile
src/*/Makefile

src/.deps/
src/.libs/
src/*/.deps/
src/*/.libs/
