aclocal.m4

config.h
config.h.in

config.log
config.status

config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/compile

configure
libtool
stamp-h1

Makefile
Makefile.in
.deps/
.libs/
/.version
